checkpoints/DINOv2_EoMT/best_model-epoch=0001-val_loss=1.5420844554901123.pt !text !filter !merge !diff
checkpoints/DINOv2_linear/final_model-epoch=0049-val_loss=0.3975398540496826.pt !text !filter !merge !diff
checkpoints/DINOv2_upsample_old/best_model-epoch=0049-val_loss=0.3537556529045105.pt !text !filter !merge !diff
checkpoints/DINOv2_mlp/best_model-epoch=0049-val_loss=0.43967047333717346.pt !text !filter !merge !diff
